:root {
	--md-source: #CCC991;
	
	/* primary */
	--md-ref-palette-primary0: #000000;
	--md-ref-palette-primary10: #1d1d00;
	--md-ref-palette-primary20: #333200;
	--md-ref-palette-primary25: #3f3d00;
	--md-ref-palette-primary30: #4b4900;
	--md-ref-palette-primary35: #575500;
	--md-ref-palette-primary40: #636100;
	--md-ref-palette-primary50: #7d7b00;
	--md-ref-palette-primary60: #989522;
	--md-ref-palette-primary70: #b3b03c;
	--md-ref-palette-primary80: #cfcb55;
	--md-ref-palette-primary90: #ebe86e;
	--md-ref-palette-primary95: #faf67a;
	--md-ref-palette-primary98: #fffbcf;
	--md-ref-palette-primary99: #fffbff;
	--md-ref-palette-primary100: #ffffff;

	/* secondary */
	--md-ref-palette-secondary0: #000000;
	--md-ref-palette-secondary10: #1d1c06;
	--md-ref-palette-secondary20: #323118;
	--md-ref-palette-secondary25: #3e3d22;
	--md-ref-palette-secondary30: #49482c;
	--md-ref-palette-secondary35: #555437;
	--md-ref-palette-secondary40: #616042;
	--md-ref-palette-secondary50: #7a7859;
	--md-ref-palette-secondary60: #949271;
	--md-ref-palette-secondary70: #afad8a;
	--md-ref-palette-secondary80: #cbc8a4;
	--md-ref-palette-secondary90: #e7e4bf;
	--md-ref-palette-secondary95: #f6f2cc;
	--md-ref-palette-secondary98: #fffbd4;
	--md-ref-palette-secondary99: #fffbff;
	--md-ref-palette-secondary100: #ffffff;

	/* tertiary */
	--md-ref-palette-tertiary0: #000000;
	--md-ref-palette-tertiary10: #002116;
	--md-ref-palette-tertiary20: #0c3729;
	--md-ref-palette-tertiary25: #1a4334;
	--md-ref-palette-tertiary30: #264e3f;
	--md-ref-palette-tertiary35: #325a4a;
	--md-ref-palette-tertiary40: #3e6656;
	--md-ref-palette-tertiary50: #577f6e;
	--md-ref-palette-tertiary60: #709a87;
	--md-ref-palette-tertiary70: #8ab4a1;
	--md-ref-palette-tertiary80: #a5d0bb;
	--md-ref-palette-tertiary90: #c0ecd7;
	--md-ref-palette-tertiary95: #cefbe5;
	--md-ref-palette-tertiary98: #e7fff2;
	--md-ref-palette-tertiary99: #f4fff7;
	--md-ref-palette-tertiary100: #ffffff;

	/* neutral */
	--md-ref-palette-neutral0: #000000;
	--md-ref-palette-neutral10: #1c1c16;
	--md-ref-palette-neutral20: #31302b;
	--md-ref-palette-neutral25: #3d3b35;
	--md-ref-palette-neutral30: #484740;
	--md-ref-palette-neutral35: #54524c;
	--md-ref-palette-neutral40: #605e58;
	--md-ref-palette-neutral50: #797770;
	--md-ref-palette-neutral60: #939189;
	--md-ref-palette-neutral70: #aeaba3;
	--md-ref-palette-neutral80: #cac6be;
	--md-ref-palette-neutral90: #e6e2d9;
	--md-ref-palette-neutral95: #f4f0e7;
	--md-ref-palette-neutral98: #fdf9f0;
	--md-ref-palette-neutral99: #fffbff;
	--md-ref-palette-neutral100: #ffffff;

	/* neutral-variant */
	--md-ref-palette-neutral-variant0: #000000;
	--md-ref-palette-neutral-variant10: #1d1c11;
	--md-ref-palette-neutral-variant20: #323125;
	--md-ref-palette-neutral-variant25: #3d3c2f;
	--md-ref-palette-neutral-variant30: #48473a;
	--md-ref-palette-neutral-variant35: #545345;
	--md-ref-palette-neutral-variant40: #605f51;
	--md-ref-palette-neutral-variant50: #797769;
	--md-ref-palette-neutral-variant60: #939181;
	--md-ref-palette-neutral-variant70: #aeac9b;
	--md-ref-palette-neutral-variant80: #cac7b6;
	--md-ref-palette-neutral-variant90: #e6e3d1;
	--md-ref-palette-neutral-variant95: #f5f1df;
	--md-ref-palette-neutral-variant98: #fefae7;
	--md-ref-palette-neutral-variant99: #fffbff;
	--md-ref-palette-neutral-variant100: #ffffff;

	/* error */
	--md-ref-palette-error0: #000000;
	--md-ref-palette-error10: #410002;
	--md-ref-palette-error20: #690005;
	--md-ref-palette-error25: #7e0007;
	--md-ref-palette-error30: #93000a;
	--md-ref-palette-error35: #a80710;
	--md-ref-palette-error40: #ba1a1a;
	--md-ref-palette-error50: #de3730;
	--md-ref-palette-error60: #ff5449;
	--md-ref-palette-error70: #ff897d;
	--md-ref-palette-error80: #ffb4ab;
	--md-ref-palette-error90: #ffdad6;
	--md-ref-palette-error95: #ffedea;
	--md-ref-palette-error98: #fff8f7;
	--md-ref-palette-error99: #fffbff;
	--md-ref-palette-error100: #ffffff;

	/* light */
	--md-sys-color-primary-light: #636100;
	--md-sys-color-on-primary-light: #ffffff;
	--md-sys-color-primary-container-light: #ebe86e;
	--md-sys-color-on-primary-container-light: #1d1d00;
	--md-sys-color-secondary-light: #616042;
	--md-sys-color-on-secondary-light: #ffffff;
	--md-sys-color-secondary-container-light: #e7e4bf;
	--md-sys-color-on-secondary-container-light: #1d1c06;
	--md-sys-color-tertiary-light: #3e6656;
	--md-sys-color-on-tertiary-light: #ffffff;
	--md-sys-color-tertiary-container-light: #c0ecd7;
	--md-sys-color-on-tertiary-container-light: #002116;
	--md-sys-color-error-light: #ba1a1a;
	--md-sys-color-error-container-light: #ffdad6;
	--md-sys-color-on-error-light: #ffffff;
	--md-sys-color-on-error-container-light: #410002;
	--md-sys-color-background-light: #fffbff;
	--md-sys-color-on-background-light: #1c1c16;
	--md-sys-color-surface-light: #fffbff;
	--md-sys-color-on-surface-light: #1c1c16;
	--md-sys-color-surface-variant-light: #e6e3d1;
	--md-sys-color-on-surface-variant-light: #48473a;
	--md-sys-color-outline-light: #797769;
	--md-sys-color-inverse-on-surface-light: #f4f0e7;
	--md-sys-color-inverse-surface-light: #31302b;
	--md-sys-color-inverse-primary-light: #cfcb55;
	--md-sys-color-shadow-light: #000000;
	--md-sys-color-surface-tint-light: #636100;
	--md-sys-color-outline-variant-light: #cac7b6;
	--md-sys-color-scrim-light: #000000;

	/* dark */
	--md-sys-color-primary-dark: #cfcb55;
	--md-sys-color-on-primary-dark: #333200;
	--md-sys-color-primary-container-dark: #4b4900;
	--md-sys-color-on-primary-container-dark: #ebe86e;
	--md-sys-color-secondary-dark: #cbc8a4;
	--md-sys-color-on-secondary-dark: #323118;
	--md-sys-color-secondary-container-dark: #49482c;
	--md-sys-color-on-secondary-container-dark: #e7e4bf;
	--md-sys-color-tertiary-dark: #a5d0bb;
	--md-sys-color-on-tertiary-dark: #0c3729;
	--md-sys-color-tertiary-container-dark: #264e3f;
	--md-sys-color-on-tertiary-container-dark: #c0ecd7;
	--md-sys-color-error-dark: #ffb4ab;
	--md-sys-color-error-container-dark: #93000a;
	--md-sys-color-on-error-dark: #690005;
	--md-sys-color-on-error-container-dark: #ffdad6;
	--md-sys-color-background-dark: #1c1c16;
	--md-sys-color-on-background-dark: #e6e2d9;
	--md-sys-color-surface-dark: #1c1c16;
	--md-sys-color-on-surface-dark: #e6e2d9;
	--md-sys-color-surface-variant-dark: #48473a;
	--md-sys-color-on-surface-variant-dark: #cac7b6;
	--md-sys-color-outline-dark: #939181;
	--md-sys-color-inverse-on-surface-dark: #1c1c16;
	--md-sys-color-inverse-surface-dark: #e6e2d9;
	--md-sys-color-inverse-primary-dark: #636100;
	--md-sys-color-shadow-dark: #000000;
	--md-sys-color-surface-tint-dark: #cfcb55;
	--md-sys-color-outline-variant-dark: #48473a;
	--md-sys-color-scrim-dark: #000000;

	/* display - large */
	--md-sys-typescale-display-large-font-family-name: "Noto Sans";
	--md-sys-typescale-display-large-font-family-style: Regular;
	--md-sys-typescale-display-large-font-weight: 400px;
	--md-sys-typescale-display-large-font-size: 57px;
	--md-sys-typescale-display-large-line-height: 64px;
	--md-sys-typescale-display-large-letter-spacing: -0.25px;

	/* display - medium */
	--md-sys-typescale-display-medium-font-family-name: "Noto Sans";
	--md-sys-typescale-display-medium-font-family-style: Regular;
	--md-sys-typescale-display-medium-font-weight: 400px;
	--md-sys-typescale-display-medium-font-size: 45px;
	--md-sys-typescale-display-medium-line-height: 52px;
	--md-sys-typescale-display-medium-letter-spacing: 0px;

	/* display - small */
	--md-sys-typescale-display-small-font-family-name: "Noto Sans";
	--md-sys-typescale-display-small-font-family-style: Regular;
	--md-sys-typescale-display-small-font-weight: 400px;
	--md-sys-typescale-display-small-font-size: 36px;
	--md-sys-typescale-display-small-line-height: 44px;
	--md-sys-typescale-display-small-letter-spacing: 0px;

	/* headline - large */
	--md-sys-typescale-headline-large-font-family-name: "Noto Sans";
	--md-sys-typescale-headline-large-font-family-style: Regular;
	--md-sys-typescale-headline-large-font-weight: 400px;
	--md-sys-typescale-headline-large-font-size: 32px;
	--md-sys-typescale-headline-large-line-height: 40px;
	--md-sys-typescale-headline-large-letter-spacing: 0px;

	/* headline - medium */
	--md-sys-typescale-headline-medium-font-family-name: "Noto Sans";
	--md-sys-typescale-headline-medium-font-family-style: Regular;
	--md-sys-typescale-headline-medium-font-weight: 400px;
	--md-sys-typescale-headline-medium-font-size: 28px;
	--md-sys-typescale-headline-medium-line-height: 36px;
	--md-sys-typescale-headline-medium-letter-spacing: 0px;

	/* headline - small */
	--md-sys-typescale-headline-small-font-family-name: "Noto Sans";
	--md-sys-typescale-headline-small-font-family-style: Regular;
	--md-sys-typescale-headline-small-font-weight: 400px;
	--md-sys-typescale-headline-small-font-size: 24px;
	--md-sys-typescale-headline-small-line-height: 32px;
	--md-sys-typescale-headline-small-letter-spacing: 0px;

	/* body - large */
	--md-sys-typescale-body-large-font-family-name: "Noto Sans";
	--md-sys-typescale-body-large-font-family-style: Regular;
	--md-sys-typescale-body-large-font-weight: 400px;
	--md-sys-typescale-body-large-font-size: 16px;
	--md-sys-typescale-body-large-line-height: 24px;
	--md-sys-typescale-body-large-letter-spacing: 0.50px;

	/* body - medium */
	--md-sys-typescale-body-medium-font-family-name: "Noto Sans";
	--md-sys-typescale-body-medium-font-family-style: Regular;
	--md-sys-typescale-body-medium-font-weight: 400px;
	--md-sys-typescale-body-medium-font-size: 14px;
	--md-sys-typescale-body-medium-line-height: 20px;
	--md-sys-typescale-body-medium-letter-spacing: 0.25px;

	/* body - small */
	--md-sys-typescale-body-small-font-family-name: "Noto Sans";
	--md-sys-typescale-body-small-font-family-style: Regular;
	--md-sys-typescale-body-small-font-weight: 400px;
	--md-sys-typescale-body-small-font-size: 12px;
	--md-sys-typescale-body-small-line-height: 16px;
	--md-sys-typescale-body-small-letter-spacing: 0.40px;

	/* label - large */
	--md-sys-typescale-label-large-font-family-name: "Noto Sans";
	--md-sys-typescale-label-large-font-family-style: Medium;
	--md-sys-typescale-label-large-font-weight: 500px;
	--md-sys-typescale-label-large-font-size: 14px;
	--md-sys-typescale-label-large-line-height: 20px;
	--md-sys-typescale-label-large-letter-spacing: 0.10px;

	/* label - medium */
	--md-sys-typescale-label-medium-font-family-name: "Noto Sans";
	--md-sys-typescale-label-medium-font-family-style: Medium;
	--md-sys-typescale-label-medium-font-weight: 500px;
	--md-sys-typescale-label-medium-font-size: 12px;
	--md-sys-typescale-label-medium-line-height: 16px;
	--md-sys-typescale-label-medium-letter-spacing: 0.50px;

	/* label - small */
	--md-sys-typescale-label-small-font-family-name: "Noto Sans";
	--md-sys-typescale-label-small-font-family-style: Medium;
	--md-sys-typescale-label-small-font-weight: 500px;
	--md-sys-typescale-label-small-font-size: 11px;
	--md-sys-typescale-label-small-line-height: 16px;
	--md-sys-typescale-label-small-letter-spacing: 0.50px;

	/* title - large */
	--md-sys-typescale-title-large-font-family-name: "Noto Sans";
	--md-sys-typescale-title-large-font-family-style: Regular;
	--md-sys-typescale-title-large-font-weight: 400px;
	--md-sys-typescale-title-large-font-size: 22px;
	--md-sys-typescale-title-large-line-height: 28px;
	--md-sys-typescale-title-large-letter-spacing: 0px;

	/* title - medium */
	--md-sys-typescale-title-medium-font-family-name: "Noto Sans";
	--md-sys-typescale-title-medium-font-family-style: Medium;
	--md-sys-typescale-title-medium-font-weight: 500px;
	--md-sys-typescale-title-medium-font-size: 16px;
	--md-sys-typescale-title-medium-line-height: 24px;
	--md-sys-typescale-title-medium-letter-spacing: 0.15px;

	/* title - small */
	--md-sys-typescale-title-small-font-family-name: "Noto Sans";
	--md-sys-typescale-title-small-font-family-style: Medium;
	--md-sys-typescale-title-small-font-weight: 500px;
	--md-sys-typescale-title-small-font-size: 14px;
	--md-sys-typescale-title-small-line-height: 20px;
	--md-sys-typescale-title-small-letter-spacing: 0.10px;
}